.container {
  margin: 0;
  padding: 0 2.20rem;
  width: 100%;
}

.container .dynamics h1 {
  display: inline-block;
  padding: .40rem .15rem;
  font-size: 0.3rem;
  font-family: "Microsoft YaHei";
  color: #ff6900;
}

.container .dynamics .row .pic-msg {
  position: relative;
}

.container .dynamics .row .pic-msg img {
  width: 3.03rem;
  height: 1.8rem;
}

.container .dynamics .row .pic-msg .messages {
  width: 3.03rem;
  height: 0.4rem;
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  font-size: 0.14rem;
  font-family: "Microsoft YaHei";
  color: white;
  line-height: 0.4rem;
  text-align: center;
}

.container .news-list {
  margin-top: .50rem;
}

.container .news-list ul li {
  display: block;
  padding-top: .37rem;
}

.container .news-list ul li .news-list-img img {
  width: 2.1rem;
  height: 1.26rem;
  padding: .05rem;
  border: .01rem solid #dddddd;
}

.container .news-list ul li .news-list-msg {
  position: relative;
  height: 1.6rem;
}

.container .news-list ul li .news-list-msg h3 {
  display: inline-block;
  font-size: 0.18rem;
  font-family: "Microsoft YaHei";
  color: #ff6900;
}

.container .news-list ul li .news-list-msg .time {
  line-height: .52rem;
}

.container .news-list ul li .news-list-msg p {
  font-size: 0.14rem;
  font-family: "Microsoft YaHei";
  color: #2a2a2a;
}

.container .news-list ul li .news-list-msg .btn {
  position: absolute;
  bottom: 0;
  right: 0.15rem;
}

.container .news-list ul li .news-list-msg .btn a {
  display: block;
  font-size: 0.14rem;
  font-family: "Microsoft YaHei";
  color: black;
  text-align: center;
  width: 1rem;
  height: 0.32rem;
  border-radius: .13rem;
  line-height: 0.32rem;
}

.container .news-list ul li .news-list-msg .btn a:hover {
  font-size: 0.14rem;
  font-family: "Microsoft YaHei";
  color: white;
  background: #ff6900;
}

.container .news-list .line {
  margin: .70rem 0 .30rem 0;
  height: 0.01rem;
  box-sizing: border-box;
  border-bottom: .01rem dashed #dddddd;
}

.container .news-list .null {
  text-align: center;
  margin-bottom: .25rem;
}

.container .news-list .null .page {
  display: inline-block;
}

.container .news-list .null .page .page-list {
  padding: 0;
  float: left;
  border: 1px solid #cccccc;
}

.container .news-list .null .page .page-list a {
  padding: .10rem .15rem;
  display: block;
  font-size: 0.14rem;
  font-family: "Microsoft YaHei";
  color: black;
  box-sizing: border-box;
}

.container .news-list .null .page .page-list a:hover {
  font-size: 0.14rem;
  font-family: "Microsoft YaHei";
  color: white;
  background: #ff6900;
}

.container .news-list .null .page::after {
  content: '';
  clear: both;
  display: block;
}
